# Python cache files
__pycache__/
*.py[cod]

# Django specific files
*.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd

# Local configuration files
*.env
*.local

# Build files
build/
dist/
*.egg-info/

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo

# MacOS files
.DS_Store

# Git
.git
.gitignore
.pre-commmit-config.yaml
